<a href="https://colab.research.google.com/github/DariaSemenova7/myprojecs/blob/main/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/young-people-survey.csv',delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Columns: 150 entries, Music to House - block of flats
dtypes: float64(134), int64(5), object(11)
memory usage: 1.2+ MB

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/survey.csv',delimiter=';')

In [ ]:
df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [ ]:
df1.head()

,Savings,Shoppingcentres,Brandedclothing,Entertainmentspending,Spendingonlooks,Spendingongadgets,Spendingonhealthyeating,Spendeveryday,Spendinginonlineshops,Movies,Horror,Thriller,Comedy,Romantic,Scifi,FantasyFairytales,Animated,Documentary,Action
0,2.0,3.0,2.0,3.0,3.0,1.0,3.0,2.0,3.0,4.0,1.0,1.0,5.0,5.0,3.0,2.0,5.0,2.0,2.0
1,2.0,1.0,3.0,2.0,3.0,4.0,2.0,2.0,3.0,3.0,5.0,5.0,3.0,1.0,4.0,1.0,1.0,3.0,1.0
2,2.0,4.0,3.0,4.0,5.0,4.0,4.0,3.0,5.0,4.0,3.0,4.0,2.0,2.0,4.0,1.0,3.0,3.0,1.0
3,3.0,3.0,3.0,2.0,3.0,3.0,2.0,4.0,2.0,4.0,1.0,2.0,3.0,5.0,3.0,3.0,4.0,3.0,3.0
4,2.0,2.0,4.0,4.0,3.0,5.0,3.0,2.0,4.0,3.0,4.0,5.0,3.0,1.0,5.0,1.0,2.0,2.0,3.0

In [ ]:
#при проведении новых анализов и тестов просиходила смена первого словосочетания
dfcut=df[['Entertainment spending','Movies','Horror','Thriller','Comedy','Romantic','Sci-fi','FantasyFairytales','Animated','Documentary','Action']]
dfcut = dfcut.rename(columns={'Entertainment spending': 'Entertainmentspending', 'Fantasy/Fairy tales': 'FantasyFairytales', 'Sci-fi': 'Scifi'})

In [ ]:
df2=df1[['Savings', 'Shoppingcentres','Movies','Horror','Thriller','Comedy','Romantic','Scifi','FantasyFairytales','Animated','Documentary','Action']]

In [ ]:
dfcut=dfcut.dropna()
dfcut.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 976 entries, 0 to 1009
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entertainmentspending  976 non-null    float64
 1   Movies                 976 non-null    float64
 2   Horror                 976 non-null    float64
 3   Thriller               976 non-null    float64
 4   Comedy                 976 non-null    float64
 5   Romantic               976 non-null    float64
 6   Scifi                  976 non-null    float64
 7   FantasyFairytales      976 non-null    float64
 8   Animated               976 non-null    float64
 9   Documentary            976 non-null    float64
 10  Action                 976 non-null    float64
dtypes: float64(11)
memory usage: 91.5 KB

In [ ]:
df1=df1.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 101
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Savings                  102 non-null    float64
 1   Shoppingcentres          102 non-null    float64
 2   Brandedclothing          102 non-null    float64
 3   Entertainmentspending    102 non-null    float64
 4   Spendingonlooks          102 non-null    float64
 5   Spendingongadgets        102 non-null    float64
 6   Spendingonhealthyeating  102 non-null    float64
 7   Spendeveryday            102 non-null    float64
 8   Spendinginonlineshops    102 non-null    float64
 9   Movies                   102 non-null    float64
 10  Horror                   102 non-null    float64
 11  Thriller                 102 non-null    float64
 12  Comedy                   102 non-null    float64
 13  Romantic                 102 non-null    float64
 14  Scifi                    102 non-null    float64
 15  FantasyFairytales        102 non-null    float64
 16  Animated                 102 non-null    float64
 17  Documentary              102 non-null    float64
 18  Action                   102 non-null    float64
dtypes: float64(19)
memory usage: 15.9 KB

In [ ]:
dfcut=dfcut.astype(int)

In [ ]:
df1=df1.astype(int)

In [ ]:
dfcut.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 976 entries, 0 to 1009
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entertainmentspending  976 non-null    int64
 1   Movies                 976 non-null    int64
 2   Horror                 976 non-null    int64
 3   Thriller               976 non-null    int64
 4   Comedy                 976 non-null    int64
 5   Romantic               976 non-null    int64
 6   Scifi                  976 non-null    int64
 7   FantasyFairytales      976 non-null    int64
 8   Animated               976 non-null    int64
 9   Documentary            976 non-null    int64
 10  Action                 976 non-null    int64
dtypes: int64(11)
memory usage: 91.5 KB

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 101
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Savings                  102 non-null    int64
 1   Shoppingcentres          102 non-null    int64
 2   Brandedclothing          102 non-null    int64
 3   Entertainmentspending    102 non-null    int64
 4   Spendingonlooks          102 non-null    int64
 5   Spendingongadgets        102 non-null    int64
 6   Spendingonhealthyeating  102 non-null    int64
 7   Spendeveryday            102 non-null    int64
 8   Spendinginonlineshops    102 non-null    int64
 9   Movies                   102 non-null    int64
 10  Horror                   102 non-null    int64
 11  Thriller                 102 non-null    int64
 12  Comedy                   102 non-null    int64
 13  Romantic                 102 non-null    int64
 14  Scifi                    102 non-null    int64
 15  FantasyFairytales        102 non-null    int64
 16  Animated                 102 non-null    int64
 17  Documentary              102 non-null    int64
 18  Action                   102 non-null    int64
dtypes: int64(19)
memory usage: 15.9 KB

In [ ]:
dfcut.corr()

,Entertainmentspending,Movies,Horror,Thriller,Comedy,Romantic,Scifi,FantasyFairytales,Animated,Documentary,Action
Entertainmentspending,1.000000,0.082661,0.123158,0.055841,0.011818,-0.098015,0.018004,-0.075309,-0.035590,-0.085631,0.085237
Movies,0.082661,1.000000,0.151325,0.250307,0.203710,0.122300,0.169271,0.127689,0.171451,0.013593,0.186315
Horror,0.123158,0.151325,1.000000,0.509065,0.104117,-0.126026,0.167170,-0.085124,0.009275,-0.072327,0.134073
Thriller,0.055841,0.250307,0.509065,1.000000,0.006424,-0.161183,0.235870,-0.085375,-0.021980,0.045056,0.287395
Comedy,0.011818,0.203710,0.104117,0.006424,1.000000,0.280893,0.043962,0.212201,0.185341,-0.014303,0.119444
Romantic,-0.098015,0.122300,-0.126026,-0.161183,0.280893,1.000000,-0.100272,0.352333,0.233125,-0.090039,-0.186756
Scifi,0.018004,0.169271,0.167170,0.235870,0.043962,-0.100272,1.000000,-0.014323,0.061331,0.127519,0.356271
FantasyFairytales,-0.075309,0.127689,-0.085124,-0.085375,0.212201,0.352333,-0.014323,1.000000,0.680982,0.137594,-0.054568
Animated,-0.035590,0.171451,0.009275,-0.021980,0.185341,0.233125,0.061331,0.680982,1.000000,0.146241,0.019661
Documentary,-0.085631,0.013593,-0.072327,0.045056,-0.014303,-0.090039,0.127519,0.137594,0.146241,1.000000,0.123056
Action,0.085237,0.186315,0.134073,0.287395,0.119444,-0.186756,0.356271,-0.054568,0.019661,0.123056,1.000000

In [ ]:
import statsmodels.api as sm

In [ ]:
x=dfcut[['Movies','Horror','Thriller','Comedy','Romantic','Scifi','FantasyFairytales','Animated','Documentary','Action']]

In [ ]:
x=df1[['Movies','Horror','Thriller','Comedy','Romantic','Scifi','FantasyFairytales','Animated','Documentary','Action']]

In [ ]:
y=dfcut[['Entertainmentspending']]

In [ ]:
y=df1[['Spendeveryday']]

In [ ]:
import numpy as np
log_y = np.log(y)

In [ ]:
x=sm.add_constant(x)

In [ ]:
x.dropna()
log_x = np.log(x)

In [ ]:
lin_reg=sm.OLS(y.dropna() ,x.dropna() ).fit()

In [ ]:
#решение гетероскедастичности
lin_reg = sm.OLS(y, x)
lin_reg = lin_reg.fit(cov_type='HC3')

In [ ]:
print(lin_reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Spendeveryday   R-squared:                       0.089
Model:                            OLS   Adj. R-squared:                 -0.012
Method:                 Least Squares   F-statistic:                    0.8844
Date:                Mon, 26 Jun 2023   Prob (F-statistic):              0.551
Time:                        09:55:20   Log-Likelihood:                -187.53
No. Observations:                 102   AIC:                             397.1
Df Residuals:                      91   BIC:                             425.9
Df Model:                          10
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             1.6494      1.295      1.273      0.206      -0.924       4.223
Movies                0.0900      0.182      0.495      0.622      -0.271       0.451
Horror                0.1132      0.132      0.855      0.395      -0.150       0.376
Thriller              0.1222      0.149      0.823      0.413      -0.173       0.417
Comedy               -0.2431      0.168     -1.446      0.152      -0.577       0.091
Romantic              0.2412      0.153      1.580      0.118      -0.062       0.544
Scifi                -0.0513      0.131     -0.392      0.696      -0.311       0.209
FantasyFairytales    -0.0503      0.152     -0.330      0.742      -0.353       0.252
Animated              0.2237      0.152      1.476      0.143      -0.077       0.525
Documentary          -0.1270      0.136     -0.932      0.354      -0.398       0.144
Action               -0.0808      0.127     -0.637      0.526      -0.333       0.171
==============================================================================
Omnibus:                       22.523   Durbin-Watson:                   2.062
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                9.209
Skew:                           0.515   Prob(JB):                       0.0100
Kurtosis:                       1.948   Cond. No.                         86.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
lin_reg.resid.mean()

0.031770510670610604

In [ ]:
#мультиколлинеарность
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor

y, x = dmatrices('Spendingonhealthyeating ~ Movies+Horror+Thriller+Comedy+Romantic+Scifi+FantasyFairytales+Animated+Documentary+Action', data=df1, return_type='dataframe')
#посчитать VIF для каждой переменной
vif['VIF'] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]
vif['variable'] = x.columns

#просмотр результатов расчета VIF
vif

          VIF           variable
0   65.979315          Intercept
1    1.103780             Movies
2    1.675543             Horror
3    1.617791           Thriller
4    1.428308             Comedy
5    1.615737           Romantic
6    1.236201              Scifi
7    1.625930  FantasyFairytales
8    1.598978           Animated
9    1.161070        Documentary
10   1.168885             Action

In [ ]:
y, x = dmatrices('Shoppingcentres ~ Movies+Horror+Thriller+Comedy+Romantic+Scifi+FantasyFairytales+Animated+Documentary+Action', data=dfcut, return_type='dataframe')

In [ ]:
#гетероскдеастичность
from statsmodels.compat import lzip
import statsmodels.stats.api as sms

names = ['Lagrange multiplier statistic', 'p-value']
test = sms.het_breuschpagan(lin_reg.resid, lin_reg.model.exog)
lzip(names, test)

[('Lagrange multiplier statistic', 7.4669849567964555),
 ('p-value', 0.6807446669481356)]

In [ ]:
#как решить проблему гетероскедастичности
import numpy as np
import statsmodels.api as sm

# Создание матрицы признаков x и вектора целевой переменной y

# Определение весов
weights = 1.0 / np.power(y, 1)

# Построение модели с использованием взвешенных наименьших квадратов
lin_reg = sm.WLS(y, x, weights=weights)
lin_reg = lin_reg.fit()

# Вывод результатов
print(lin_reg.summary())

                                 WLS Regression Results
=======================================================================================
Dep. Variable:        Spendingonlooks   R-squared (uncentered):                   0.791
Model:                            WLS   Adj. R-squared (uncentered):              0.768
Method:                 Least Squares   F-statistic:                              34.74
Date:                Mon, 26 Jun 2023   Prob (F-statistic):                    5.33e-27
Time:                        09:48:25   Log-Likelihood:                         -167.56
No. Observations:                 102   AIC:                                      355.1
Df Residuals:                      92   BIC:                                      381.4
Df Model:                          10
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Movies                0.3967      0.104      3.799      0.000       0.189       0.604
Horror                0.0524      0.105      0.500      0.618      -0.156       0.260
Thriller              0.1276      0.101      1.262      0.210      -0.073       0.328
Comedy                0.0647      0.125      0.518      0.606      -0.183       0.313
Romantic              0.1610      0.116      1.391      0.167      -0.069       0.391
Scifi                 0.0446      0.096      0.464      0.644      -0.146       0.236
FantasyFairytales    -0.0847      0.115     -0.734      0.465      -0.314       0.144
Animated             -0.0402      0.113     -0.356      0.723      -0.264       0.184
Documentary          -0.0574      0.102     -0.562      0.576      -0.260       0.146
Action               -0.1280      0.094     -1.355      0.179      -0.316       0.060
==============================================================================
Omnibus:                       11.973   Durbin-Watson:                   2.021
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               13.193
Skew:                          -0.879   Prob(JB):                      0.00137
Kurtosis:                       3.107   Cond. No.                         13.9
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
#автокорреляция
from statsmodels.stats.stattools import durbin_watson
durbin_watson(lin_reg.resid)

2.0621555543584646